body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  * {
    box-sizing: border-box;
  }
  .main{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 70;
    color: white;
    background-color: tomato;
}

  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    width: 400;
    border-style: double;
    
  }
  form{
    display: flex;
    justify-content: center;
}
 
 

/**
 * style input elements that have a required
 * attribute and a focus state
 */
/* input:required:focus {
  border: 1px solid red;
  outline: none;
} */
  
  .form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: .5em;
    height: 60;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
  }
  .form-row > input {
    flex: 1;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
    display: flex;
    justify-content: center;
    align-items: center;
   background:black;
   color: white;
   border: 0;
   width: 100;
  }
 .spanclass{
   color: red;
 }
  
  
  
  
  
  